@model BLMS.Models.SOP.PageCompetentPersonnel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-md-4 pt-md-2 mb-5 pb-5" style="font-size:12px;">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
            <div class="card card-cascade cascading-admin-card user-card">
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                    <i class="fas fa fa-medal info-color py-4 mr-3 z-depth-2"></i>
                    <div class="data">
                        <h5 class="font-weight-bold dark-grey-text">
                            Register Certificate Personnel
                        </h5>
                    </div>
                </div>

                <div class="card-body card-body-cascade">
                    <div class="row">
                        <div class="col-lg-12">
                            <form asp-action="Create" autocomplete="off" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div id="alert" class="form-group">
                                            @Html.Raw(@ViewBag.Alert)
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>

                                <div class="list-group list-group-flush">
                                    <div class="container">
                                        <span class="font-weight-bold dark-grey-text">
                                            <i class="fas fa fa-clipboard-list"> Competent Personnel Details</i>
                                        </span>
                                        <div class="list-group-item col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input asp-for="CompetentPersonnel.PersonnelId" class="form-control" style="font-size:12px;" hidden>

                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.PersonnelName" class="form-control" placeholder="Type New License Name" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.PersonnelName" class="control-label"><span style="color:red;">*</span> Name</label>
                                                        <span asp-validation-for="CompetentPersonnel.PersonnelName" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.Icno" class="form-control" placeholder="Type New IC No" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.Icno" class="control-label"><span style="color:red;">*</span> IC No</label>
                                                        <span asp-validation-for="CompetentPersonnel.Icno" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.BusinessDiv" class="form-control" placeholder="Type New Business Division" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.BusinessDiv" class="control-label"><span style="color:red;">*</span> Business Division</label>
                                                        <span asp-validation-for="CompetentPersonnel.BusinessDiv" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.BusinessUnit" class="form-control" placeholder="Type New Business Unit" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.BusinessUnit" class="control-label"><span style="color:red;">*</span> Business Unit</label>
                                                        <span asp-validation-for="CompetentPersonnel.BusinessUnit" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.YearAwarded" class="form-control" placeholder="Type New Year Awarded" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.YearAwarded" class="control-label"><span style="color:red;">*</span> Year Awarded</label>
                                                        <span asp-validation-for="CompetentPersonnel.YearAwarded" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.RegNo" class="form-control" placeholder="Type New Registration No" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.RegNo" class="control-label"><span style="color:red;">*</span> Registration No</label>
                                                        <span asp-validation-for="CompetentPersonnel.RegNo" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.Branch" class="form-control" placeholder="Type New Branch" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.Branch" class="control-label"><span style="color:red;">*</span> Branch</label>
                                                        <span asp-validation-for="CompetentPersonnel.Branch" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form input-group form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.AppointedDt" placeholder="Please select Appointment Date" type="text" class="form-control AppointDT" style="font-size:12px;">
                                                        <div class="input-group-append md-addon">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        <label asp-for="CompetentPersonnel.AppointedDt" class="mdb-main-label">Appointment Date</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="md-form input-group form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.ExpiredDt" placeholder="Please select Expire Date" type="text" class="form-control ExpiredDT" style="font-size:12px;">
                                                        <div class="input-group-append md-addon">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        <label asp-for="CompetentPersonnel.ExpiredDt" class="mdb-main-label">Expired Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="list-group list-group-flush">
                                    <div class="container">
                                        <span class="font-weight-bold dark-grey-text">
                                            <i class="fas fa fa-clipboard-list"> Certificate Details</i>
                                        </span>
                                        <div class="list-group-item col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.CertFrom" class="form-control" placeholder="Type New Certificate Body" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.CertFrom" class="control-label"><span style="color:red;">*</span> Certificate Body</label>
                                                        <span asp-validation-for="CompetentPersonnel.CertFrom" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.CertType" class="form-control" placeholder="Type New Certificate Type" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.CertType" class="control-label"><span style="color:red;">*</span> Certificate Type</label>
                                                        <span asp-validation-for="CompetentPersonnel.CertType" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.CertNo" class="form-control" placeholder="Type New Certificate No" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.CertNo" class="control-label"><span style="color:red;">*</span> Certificate No</label>
                                                        <span asp-validation-for="CompetentPersonnel.CertNo" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="md-form form-sm mb-0">
                                                        <input asp-for="CompetentPersonnel.CertFileName" class="form-control" placeholder="Type New Certificate File" style="font-size:12px;">
                                                        <label asp-for="CompetentPersonnel.CertFileName" class="control-label"><span style="color:red;">*</span> Certificate File</label>
                                                        <span asp-validation-for="CompetentPersonnel.CertFileName" class="text-danger text-sm"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Create" asp-action="Register" class="btn btn-outline-primary waves-effect" style="font-size:12px;" />
                                            <a asp-action="Index" class="btn btn-outline-success waves-effect" style="font-size:12px;">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $('.AppointDT').pickadate({
            format: "dd/mm/yyyy"
        });

        $('.ExpiredDT').pickadate({
            format: "dd/mm/yyyy"
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
